@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,800,300);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font-family: 'Open Sans','Helvetica Neue',Helvetica, sans-serif;
    line-height: 1.45;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
    border-bottom: 1px solid #dedede;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    font-size: 17px;
  }

.left{
    width: 10%;
    display: flex;
}

.hamburger-menu{
    width: 24px;
    margin: 0px 24px;
    cursor: pointer;
  }
.youtube-logo{
    height: 20px;
    cursor: pointer;
  }

.middle{
    width: 45%;
    display: flex;
    
}

.search-bar{
    width: 0;
    flex: 1;
    height: 45px;
    padding-left: 12px;
    font-size: medium;
    border: solid 1px #cccccc;
    border-radius: 40px 0 0 40px;
    box-shadow: inset 0px 1px 2px #eeeeee;
  }

.search-bar::placeholder{
    font-size: medium;
  }

.search-bar:focus{
    outline: 1px solid #1f5cc6;
    outline-offset: -1px;
    z-index: 1;
  }

.search-button{
    height: 45px;
    width: 70px;
    border: solid 1px #cccccc;
    border-radius: 0 40px 40px 0 ;
    background-color:#f7f7f7;
    margin-right: 10px;
    margin-left: -1px;
  }

.search-button:hover{
    background-color: #efefef;
  }

.search-button, 
.voice-search-button, 
.upload-icon-container,
.youtube-apps-icon-container,
.notifications-icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

.search-button .tooltip, 
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.youtube-apps-icon-container .tooltip,
.notifications-icon-container .tooltip{
    position: absolute;
    bottom: -50px;
    background-color: #616161;
    color: white;
    font-size: 12px;
    padding: 8px;
    border-radius: 2px;
    opacity: 0;
    transition: opacity 0.15s;
    line-height: 1.5;
    pointer-events: none;
    white-space: nowrap;
  }

.search-icon{
    width: 25px;
  }

.voice-search-button{
    height: 45px;
    width: 45px;
    border-radius: 40px 40px;
    background-color: #f7f7f7;
    border: none;
    cursor: pointer;
  }

.voice-search-icon{
    width: 20px;
  }

.right{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    margin-right: 20px;
}

.upload{
    display: flex;
    width: 30px;
    cursor: pointer;
}

.notifications{
    display: flex;
    height : 30px;
    cursor: pointer;
    position: relative;
}

.notifications-count{
    position: absolute;
    top: -3px;
    right: -7px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cc0000;
    color: white;
    font-size: 10px;
    padding: 1px 6px;
    border-radius: 80px;
    border: 2px solid white;
  }

.current-user-picture{
    width: 35px;
    height: 35px;
    border-radius: 16px;
    object-fit: cover;
    justify-content: center;
    object-position: center;
    cursor: pointer;
  }

#main{
    margin: 65px auto;
    padding: 10px;
    width: 1280px;
    display: flex;
    border-radius: 15px;
    background-color: rgba(214, 212, 212, 0.851);
}

#play-area{
    width: 66%;
}

#player{
    width: 100%;
    height: 72vh;
    border: 1px solid white;
    border-radius: 5px;
}

iframe{
    border-radius: 5px;
}


#comment{
    width: 100%;
    height: 72vh;
    margin-top: 4px;
    border: 1px solid white;
    border-radius: 5px;
}

aside{
    width: 34%;
    margin: 0 auto;
}

.aside-header{
  height: 7vh;
  margin: 4px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
}

.aside-buttons{
  margin: 0;
  padding: 5px 15px;
  text-decoration: none;
  color: #3d3d3d;
  border: 1px solid black;
  background-color: rgb(189, 189, 189);
  border-radius: 8px;
  font-weight: 550;
}

.active, .aside-buttons:hover{
  margin: 0;
  padding: 5px 15px;
  text-decoration: none;
  color: #ffffff;
  background-color: black;
  border-radius: 8px;
  font-weight: 550;
}

.related{
    height: 14vh;
    margin: 7px;
    display: flex;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    font-size: small;
    font-weight: 570;
}

.related:hover{
  height: 14vh;
  margin: 7px;
  display: flex;
  border: 1px solid white;
  background-color: rgb(238, 234, 234);
  border-radius: 5px;
  cursor: pointer;
}

.related:hover::after {
  content: '\2807';
  font-size: 20px;
  }

.related img{
  border-radius: 8px;
  margin: 3px;
  cursor: pointer;
}

.details{
  margin: 3px;
}
