@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,800,300);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font-family: 'Open Sans','Helvetica Neue',Helvetica, sans-serif;
    line-height: 1.45;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(198, 194, 194, 0.641);
    font-size: 17px;
    border: 2px solid red;
  }

.left{
    width: 25%;
    display: flex;
}

.middle{
    width: 50%;
    display: flex;

}

.right{
    width: 25%;
    display: flex;
    justify-content: space-between;
}

.upload{
    display: flex;
}

.youtube-apps{
    display: flex;
}

.notifications{
    display: flex;
}
#main{
    margin: 65px auto;
    padding: 10px;
    width: 90%;
    display: flex;
    background-color: rgb(137, 66, 66);
}

#play-area{
    width: 65%;
}

#player{
    height: 75vh;
    margin: 5px;
    background-color: rgb(188, 138, 138);
}

#comment{
    height: 75vh;
    margin: 5px;
    background-color: rgb(188, 138, 138);
}

aside{
    width: 30%;
    margin: 0 auto;
}

.related{
    height: 15vh;
    margin: 3px;
    background-color: rgb(188, 138, 138);
}